{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-white text-center mt-4 mb-4">Liste des favoris :</h1>
    <div class="container">
        {% for favori in favoris %}
            <div style="display: flex; align-items: center;">
                <!-- <p>{{ favori.id }}; </p> -->
                
                {% if favori.idSerie is empty %}
                    <p>Movie : </p>
                {% elseif favori.idMovie is empty %}
                    <p>Serie : </p>
                {% endif %}
                <p> {{ favori.name }} </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
