{% extends 'base.html.twig' %}

{% block body %}
    <section class="text-center mt-4">
        <h1>Homepage</h1>
        <h3>Api-MovieDB.tp</h3>
        <h5 style="color: grey" class="mt-5">Projet sous Symfony</h5>
        <h5 style="color: grey"><i>Jean-François MARCOURT 'S5G1(web)'</i></h5>
    </section>


{% endblock %}
